<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Notimanager</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>dev.abd3lraouf.notimanager</string>
	<key>CFBundleName</key>
	<string>Notimanager</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.4</string>
	<key>CFBundleVersion</key>
	<string>2.1.4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Notimanager requires accessibility permissions to detect and reposition notifications on your screen.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Abdelraouf Sabri. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>SUFeedURL</key>
	<string>https://github.com/abd3lraouf/Notimanager/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fV/kG1YpTdscZDD3brSMaHdar/Seec5oYwiBnwvRENY=</string>
</dict>
</plist>
